@import 'styles/_variables.less';
@import 'styles/_mixins.less';

page {
  background-image: url(https://qiniustatic.womenshike.top/background_top.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.user-agreement {
  .px2rpx(margin-top, 6);
  .padding-sides();
}

.agreement-page__header {
}
.agreement-page__title {
}
.agreement-page__content {
}
.agreement-page__section {
}
.agreement-page__section-title {
}
.agreement-page__paragraph {
}
.agreement-page__list {
}
.agreement-page__list-item {
}
