@import "styles/_variables.less";
@import "styles/_mixins.less";

page {
  height: 100vh;
  display: flex;
  flex-direction: column;

  background-image: url("http://swik7nyin.hd-bkt.clouddn.com/background_top.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  background-color: #fff;

  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.welcome {
  .px2rpx(padding-top, 214);
  .px2rpx(padding-bottom, 21);
}

.welcome_sign {
  display: flex;
  flex-direction: column;
  align-items: center;

  .px2rpx(padding-bottom, 248);

  .welcome_logo {
    .px2rpx(width, 106);
    .px2rpx(height, 114);
  }
}

.welcome_function {
  position: fixed;
  .px2rpx(bottom,50);
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .login {
    .px2rpx(width, 270);
    .px2rpx(height, 58);

    .px2rpx(border-radius, 12);

    background: linear-gradient(269deg, #ffaac6 0.6%, #a6c3ff 98.92%);

    color: #fff;
    text-align: center;

    .font-group(18, 500);

    display: flex;
    align-items: center;
    justify-content: center;

    .px2rpx(margin-bottom,13);
  }
  .guest_visit {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--5, #9196a3);

    .font-group(14, 500);
    .px2rpx(margin-bottom,115);
  }

  .agreement {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--4, #212121);
    .font-group(10, 400);

    > image {
      .px2rpx(width,12.5);
      .px2rpx(height,12.5);
      .px2rpx(margin-right,12);
      
      &.checked {
      }
    }

    .pink {
      color: var(--1, #fa87ac);
    }
  }
}
