page {
  height: 100vh;
  display: flex;
  flex-direction: column;

  background-image: url("http://swik7nyin.hd-bkt.clouddn.com/background_top.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  background-color: #fff;

  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.home {
  padding: 214px 21px 0;
}

.home_sign {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 248px;

  .home_logo {
    width: 106px;
    height: 114px;
  }
}

.home_function {
  position: fixed;
  bottom: 50px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .login {
    width: 270px;
    height: 58px;

    border-radius: 12px;
    background: linear-gradient(269deg, #ffaac6 0.6%, #a6c3ff 98.92%);

    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 13px;
  }
  .guest_login {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--5, #9196a3);
    font-size: 14px;
    font-weight: 500;

    margin-bottom: 115px;
  }

  .agreement {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--4, #212121);
    font-size: 10px;
    font-weight: 400;

    .pink {
      color: var(--1, #fa87ac);
    }
  }
}
