page {
  background-image: url(http://swik7nyin.hd-bkt.clouddn.com/background_top.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.home {
  // height: calc(100vh - 85px);
  // height: calc(100% - 93px);
  height: 100vh;
  .px2rpx(padding-top, 5);
  .px2rpx(padding-bottom, 85);
  position: relative;

  .home_active {
    .px2rpx(width, 50);
    .px2rpx(height, 130);
    position: absolute;
    z-index: 10;
    
    .px2rpx(right, 20);
    .px2rpx(bottom, 273);

    .home_pink {
      .px2rpx(width, 50);
      .px2rpx(height, 50);
      background-image: url(http://swik7nyin.hd-bkt.clouddn.com/recommend_pink.png);
      background-repeat: no-repeat;
      background-position: top;
      background-size: contain;

      position: absolute;
      top: 0;
    }
    .home_reject {
      .px2rpx(width, 50);
      .px2rpx(height, 50);
      background-image: url(http://swik7nyin.hd-bkt.clouddn.com/recommend_reject.png);
      background-repeat: no-repeat;
      background-position: top;
      background-size: contain;

      position: absolute;
      bottom: 0;
    }
  }
}

.slot-title {
  color: var(--4, #212121);
  text-align: center;
  .font-group(18, 500);

  background: url("http://swik7nyin.hd-bkt.clouddn.com/header_title_curve.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 90%;
  .px2rpx(padding-bottom, 4);
  background-position-x: center;
}

.slot-left {
  display: flex;
  flex-direction: row;
  align-items: center;

  .slot-header-location {
    
    .px2rpx(width, 17.324);
    .px2rpx(height, 20);
  }
  .slot-header-filter {
    .px2rpx(width, 20);
    .px2rpx(height, 20);
  }
  .slot-header-text {
    color: #212121;
    .font-group(14, 500);

    white-space: nowrap;

    .px2rpx(margin-left, 4);
    .px2rpx(margin-right, 9);
  }
}

.swiper {
  width: 100%;
  height: 100%;
  // height: calc(100vh - 182rpx);
  // .px2rpx(padding-bottom, 180);
}

.swiper-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  > image {
    width: 100%;
    height: 100%;
  }
}
