@import "styles/_variables.less";
@import "styles/_mixins.less";

page {
  background-image: url(http://swik7nyin.hd-bkt.clouddn.com/background_top.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.home {
  height: 100vh;
  .px2rpx(padding-top, 5);
  .px2rpx(padding-bottom, 85);
  position: relative;

  .home_active {
    .px2rpx(width, 50);
    .px2rpx(height, 130);
    position: absolute;
    z-index: 10;
    
    .px2rpx(right, 20);
    .px2rpx(bottom, 273);

    .home_pink {
      .px2rpx(width, 50);
      .px2rpx(height, 50);
      background-image: url(http://swik7nyin.hd-bkt.clouddn.com/icon_home_pink.png);
      background-repeat: no-repeat;
      background-position: top;
      background-size: contain;

      position: absolute;
      top: 0;
    }
    .home_reject {
      .px2rpx(width, 50);
      .px2rpx(height, 50);
      background-image: url(http://swik7nyin.hd-bkt.clouddn.com/icon_home_reject.png);
      background-repeat: no-repeat;
      background-position: top;
      background-size: contain;

      position: absolute;
      bottom: 0;
    }
  }
}

.slot-title {
  position: relative;
  color: var(--4, #212121);
  text-align: center;
  .px2rpx(padding-bottom, 4);

  .slot-title-text{
    .font-group(18, 500);
    .px2rpx(width, 37);
    .px2rpx(height, 25);
  }
  .slot-title-line{
    .px2rpx(width, 26);
    .px2rpx(height, 4);

    background: url("http://swik7nyin.hd-bkt.clouddn.com/header_title_curve.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 100%;
    background-position-x: center;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

}

.slot-left {
  display: flex;
  flex-direction: row;
  align-items: center;

  .slot-header-location {
    
    .px2rpx(width, 17.324);
    .px2rpx(height, 20);
  }
  .slot-header-filter {
    .px2rpx(width, 20);
    .px2rpx(height, 20);
  }
  .slot-header-text {
    color: #212121;
    .font-group(14, 500);
    white-space: nowrap;
    .px2rpx(margin-left, 4);
    .px2rpx(margin-right, 9);
    .ellipsis-single(42);
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  > image {
    width: 100%;
    height: 100%;
  }
}
