@import "styles/_variables.less";
@import "styles/_mixins.less";

page {
  background-image: url(http://swik7nyin.hd-bkt.clouddn.com/background_top.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}