@import 'styles/_variables.less';
@import 'styles/_mixins.less';

.footer-bar {
  position: fixed; /* 固定在底部 */
  .px2rpx(height, @footer-height);
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: #fff; /* 背景色 */

  .tab-item__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    color: #888888; /* 未选中时文字颜色 */
    .px2rpx(padding-top, 14);
    .font-group(24);
    position: relative;

    .footer-bar__badge-dot {
      position: absolute;
      .size(8, 8);
      background-color: #ff437f;
      border-radius: 50%;
      .border-group(1, solid, #FFF);
      // border: 1px solid #fff;
      .px2rpx(left, 55);
    }
  }

  .footer-bar__icon {
    .px2rpx(width, 24);
    .px2rpx(height, 24);
  }

  .footer-bar__label {
    color: var(--5, #9196a3);
    text-align: center;
    .font-group(12,600);
  }

  .tab-item__item.footer-bar__item--active {
    color: var(--4, #212121);
    text-align: center;
    .font-group(12,600);

    .footer-bar__label {
      color: #212121;
    }
  }
}
