@import "styles/_variables.less";
@import "styles/_mixins.less";

/**app.wxss**/
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .padding(200, 0, 200, 0);
  
  box-sizing: border-box;
}

page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-wrapper {
  .px2rpx(padding-top,17);
  display: flex;
  flex-direction: column;
}
