@import "_variables.less";

// === Conversion Functions === 通用工具 mixin
.px2rpx(@prop, @n) {
  @{prop}: (@n * @target-width / @design-width) * 1rpx;
}
// === Spacing Mixins ===
.font-group(@font-px, @font-weight: normal) {
  // 嵌套调用 px2rpx，将 font-size 从 px 转为 rpx
  .px2rpx(font-size, @font-px);
  // 直接设置 font-weight
  font-weight: @font-weight;
}

.border-group(@border-width, @border-style: solid, @border-color: #fff ){
  .px2rpx(border-width, @border-width);
  border-style: @border-style;
  border-color: @border-color;
  
}


.border-top(@border-width, @border-style: solid, @border-color: #fff){
  .px2rpx(border-top-width, @border-width);
  border-top-style: @border-style;
  border-top-color: @border-color;
}
.border-right(@border-width, @border-style: solid, @border-color: #fff){
  .px2rpx(border-right-width, @border-width);
  border-right-style: @border-style;
  border-right-color: @border-color;
}
.border-bottom(@border-width, @border-style: solid, @border-color: #fff){
  .px2rpx(border-bottom-width, @border-width);
  border-bottom-style: @border-style;
  border-bottom-color: @border-color;
}
.border-left(@border-width, @border-style: solid, @border-color: #fff){
  .px2rpx(border-left-width, @border-width);
  border-left-style: @border-style;
  border-left-color: @border-color;
}

.padding(@top, @right, @bottom, @left){
  .px2rpx(padding-top, @top);
  .px2rpx(padding-right, @right);
  .px2rpx(padding-bottom, @bottom);
  .px2rpx(padding-left, @left);
}

.padding-sides(@size: 20) {
  .px2rpx(padding-left, @size);
  .px2rpx(padding-right, @size);
}

.margin(@top, @right, @bottom, @left){
  .px2rpx(margin-top, @top);
  .px2rpx(margin-right, @right);
  .px2rpx(margin-bottom, @bottom);
  .px2rpx(margin-left, @left);
}

.margin-sides(@size: 20) {
  .px2rpx(margin-left, @size);
  .px2rpx(margin-right, @size);
}

.status-priamy(){
  background-color: @v-color-priamy-background;
  color: @v-color-priamy-font;
}

.status-danger(){
  background-color: @v-color-danger-background;
  color: @v-color-danger-font;
}

.ellipsis-single(@width) {
  .px2rpx(max-width, @width);
  overflow: hidden;        
  white-space: nowrap;     
  text-overflow: ellipsis; 
}