@space-side: 16; // 两侧默认内边距
@safe-bottom: 35; // 安全底部默认间距

@footer-height: 85;

@design-width: 390; // 设计稿基准宽度
@target-width: 750; // 微信小程序 rpx 参照宽度

// 资料状态
@v-color-priamy-background: #E6EEFF;
@v-color-priamy-font: #72A0FF;

@v-color-danger-background:  #FBF2F0;
@v-color-danger-font: #E67374;

@v-color

// 主页状态
@color-tag-biometric-background: var(--2, linear-gradient(275deg, #FCE38A 1.61%, #FFF3C6 97.56%));
@color-tag-student-background: linear-gradient(275deg, #C5D8FF 1.61%, #D5E3FF 97.56%);